Repository marc-mueller/AzurePipelines_DockerCIDemo: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/devfunapi-ci.yml, pipelines/devfunweb-ci.yml

Path conditions:
  pipelines/devfunapi-ci.yml: any of: DevFun.Api
  pipelines/devfunweb-ci.yml: any of: DevFun.Web

Merged PR 36: Bugfix Conditions
  pipelines/templates/releaseInitialization.yml
Due: none

Merged PR 37: extend tests, test optimization
  DevFun.Api/DevFun.Api.System.Tests/DevFun.Api.System.Tests.csproj
  DevFun.Api/DevFun.Api.System.Tests/Entities/DevJoke.cs
  DevFun.Api/DevFun.Api.System.Tests/JokesApi.cs
  DevFun.Api/DevFun.Api.System.Tests/JokesApiTests.cs
  DevFun.Api/DevFun.Api.sln
  DevFun.Api/DevFun.Api/DevFun.Api.csproj
  DevFun.Api/DevFun.Deplyoment.Verification.Tests/DeploymentVerificationTests.cs
  DevFun.Api/DevFun.Deplyoment.Verification.Tests/DevFun.Deplyoment.Verification.Tests.csproj
  DevFun.Api/DevFun.Deplyoment.Verification.Tests/TestBase.cs
  DevFun.Api/DevFun.Deplyoment.Verification.Tests/debug.runsettings
  DevFun.Api/DevFun.Logic.Unit.Tests/DevFun.Logic.Unit.Tests.csproj
  DevFun.Api/DevFun.Logic/Services/CategoryService.cs
  DevFun.Api/DevFun.Logic/Services/DevJokeService.cs
  DevFun.Web/DevFun.Web/DevFun.Web.csproj
  code-analysis.props
Due: pipelines/devfunapi-ci.yml, pipelines/devfunweb-ci.yml

Merged PR 40: changed nuget credential steps order
  DevFun.Api/DevFun.Api/Dockerfile
Due: pipelines/devfunapi-ci.yml

Merged PR 39: add UI tests
  DevFun.Web/DevFun.Web.PageObjects/AboutPanelPageObject.cs
  DevFun.Web/DevFun.Web.PageObjects/DevFun.Web.PageObjects.csproj
  DevFun.Web/DevFun.Web.PageObjects/DevFunAppPageObject.cs
  DevFun.Web/DevFun.Web.PageObjects/RandomJokePanelPageObject.cs
  DevFun.Web/DevFun.Web.Ui.Tests/DevFun.Web.Ui.Tests.csproj
  DevFun.Web/DevFun.Web.Ui.Tests/RandomJokeTests.cs
  DevFun.Web/DevFun.Web.Ui.Tests/WebUITestBase.cs
  DevFun.Web/DevFun.Web.Ui.Tests/debug.runsettings
  DevFun.Web/DevFun.Web.sln
  DevFun.Web/DevFun.Web/Views/Home/About.cshtml
  DevFun.Web/DevFun.Web/Views/Home/Index.cshtml
  DevFun.Web/DevFun.Web/Views/Shared/_Layout.cshtml
  DevFun.Web/UiTestAutomationBase/BrowserPageObjectBase.cs
  DevFun.Web/UiTestAutomationBase/ElementHelpers.cs
  DevFun.Web/UiTestAutomationBase/PageObjectBase.cs
  DevFun.Web/UiTestAutomationBase/TargetBrowser.cs
  DevFun.Web/UiTestAutomationBase/UiTestAutomationBase.csproj
  DevFun.Web/UiTestAutomationBase/WebPageObjectBase.cs
Due: pipelines/devfunweb-ci.yml

Update devfunapi-ci.yml for Azure Pipelines
  pipelines/devfunapi-ci.yml
Due: none

Merged PR 44: Add container job with service container for system tests
  pipelines/devfunapi-ci.yml
Due: none

Merged PR 45: Added multi-version matrix job
  pipelines/devfunapi-ci-testmatrix.yml
Due: none
